.bg-image1{
    background-image: url("../../assets/images/soccer-stadium-background-vector-clip-bottom-useProj.jpg"); 
    background-size: auto ;
    background-position: left top ;  
   background-repeat: round ;

  
}
.nav-typography1{
    font-family: 'roboto', sans-serif; 
    font-weight: 700 ; 
}

/*--------Global Body, Container and Background color Styles and Background-colors(graidents, box shadows, for: Depth to Design */ 
body{
    font-family: 'Lato', sans-serif ;
    background: linear-gradient(to bottom, #33ccff 0%, #f1f1f1 25%, rgba(231, 10, 21, 0.87777) 100%);
}
.bg-gradient-1{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff0066 100%);
}
.bg-custom-1{


    background: linear gradient(to bottom, #33ccfa 15%, #335577 90%);
}
.container{
    background-image: url("../../assets/images/wavy-dots.png");
}
.bg-futurewave1{
    background: linear-gradient(rgba(20, 200, 200, 0.7) 0%, rgba(229, 243, 28, 0.7)100%); 
}
/*logo is a global class for the sportshub logos i made, want them to be minimal and not take up too much time, 
but am replacing the standard logos with the better ones, so requires a bit more styling 
this is used for STYLING LINKS BECAUSE THE LOGOS ARE USED AS LINKS AND WILL BE OBVIOUS IN THE UI*/ 
a.logo1{
    border: 1px solid black ; 
    text-decoration: none ; 
    
}
a.logo1:hover{
    border: 1px solid red; 
    text-decoration: none ; 
    color: #000 ; 
}
.width-expand{
width: 99vw; 
margin: auto;


}
/*=-----------styles for Each Part of layout, top to bottom, 

1. Box: Padding margin and size ; 

2. display 

3.  typgoraphy */ 


/*----------Carousel attribute stylings TEST 
DELETE css attributes that aren't needed */ 
/*span[data-slide="prev"]{
    border: 2px solid red ;
    color: #000 ; 
}
span[data-slide="next"]{
    border: 2px solid red ;
    color: #000 ; 
} */ 
.carousel-control-next-icon{
    padding: 10px ; 
    border: 2px solid black ; 
    background-color: #ff0066; 
}
.carousel-control-prev-icon{
    padding: 10px ; 
    border: 2px solid black ; 
    background-color: #33ccfa ; 
}


